/**
 * Styling rules for the app. interface
 * @todo Restructure for Bootstrap/Sass
 * @author griffinj@lafayette.edu
 */

html, body {
    font-family: "Whitney SSm A","Whitney SSm B",sans-serif;
    background-color: #ffffff;
}

a {
    color: #ffffff;
}

.nav-pills > li > a {
    background-color: #a53a23;
    color: #ffffff;
}


legend {
    color: inherit;
    border-width: 0 0 0 0;
    margin-bottom: inherit;
}

/*
 * Header
 */
#header-container {
        /*
    background-color: #00bce4;
       */
    background-color: #a53a23;
    color: #ffffff;
    width: 100%;
}

#header-container h1, #header-container h2 {
    clear: both;
    float: right;
}

/**
 * Navbar
 */

/**
 * Footer
 *
 */
#footer {
    padding-left: 0px;
    padding-right: 0px;
}


#footer-navbar {
    margin-bottom: 0;
    text-align: center;
    bottom: 0;
    width: 100%;
}

/**
 * Body
 *
 */

#content {
    /* padding: 24px; */
    text-align: center;
}
